@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: black;
}

.top-banner {
    background-image: url("../images/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;


}

html {
    scroll-behavior: smooth;
}
video {
    opacity: 0.3; /* Adjust opacity to allow the background image to show through */
}

#orderNow{
    transition: all ease-in-out 200ms;
}

#orderNow:hover{
    scale: 1.2;
    transition: all ease-in-out 200ms;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.text-translate {
    color: rgba(255, 255, 255, 0.3);
}

.bg-orangered {
    background: #ff5d1c;
    opacity: 0.75;
}

.text-orangered {
    color: #ff5d1c;
}

.border-orangered{
    border-color: #ff5d1c!important;
}
.btn-orangered {
    background-color: #ff5d1c;
    color: white;
}

.btn-orangered:hover {
    background-color: #d54f1a;
    color: white;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #ff5d1c;
    border-radius: 5px;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #ff5d1c;
}

::selection {
    color: white;
    background: #ff5d1c;
}



#section-2 {
    background: url("../images/background-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#section-3 {
    background: url("../images/background.png");
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
}

#section-4 {
    background: url("../images/background-2.png");
    background-size: cover;
    background-position: center;
    position: relative; /* Ensure the background image is applied correctly */
}

#section-5 {
    background: url("../images/background-3.jpg");
    background-size: cover;
    background-position: center;
}

.back-to-top {
    background: #ff5d1c;
    color: white;
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

.back-to-top:hover {
    background: #d54f1a;
    color: white;
}
.custom-card{
    scale: 1;
    transition: all ease-in-out 200ms;
}
.custom-card:hover{
   scale: 1.05;
    transition: all ease-in-out 200ms;
}

.w-custom {
    width: 50%;
}

.form-control:focus {
    border-color: #ff5d1c;
}

.pulse {
    animation: pulse 2s infinite;
}

.hidden{
    display: none;
}
.custom-alert {
    z-index: 1090 !important;
    position: fixed;
    top: 5px;
    right: 10px;
    border-color: transparent!important;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);

    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.95);
    }
}



@media screen and (max-width: 800px) {
    .w-custom {
        width: 95%;
    }

    .c-icon {
        display: none;
    }
    #btn-list{
        display: none!important;
    }
}

